h1, h2, h3, h4, h5, h6 { font-family: "Ubuntu", sans-serif; }

p, span, a, button, form { font-family: "Comic Neue", cursive; }

/* For the welcome container */
.Container { background-color: #f9c90d;  position: fixed; left: 0; right: 0; z-index: 4; color: antiquewhite; font-weight: bold; }

.Container h1, h2 { text-align: center; }

div picture img { width: 100%; height: 70% }

body { background-color: dodgerblue; }
div.image {
    height: 500px;
}
